* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #1e2227;
    color: #fff;
}

nav {
    background: rgba(128, 128, 128, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    cursor: pointer;
    /* fare geldiğinde tıklamayı sağlar*/
    width: 120px;
}

nav .nav-links {
    display: flex;
    column-gap: 20px;
}

nav .nav-links a {
    color: black;
    font-size: 26px;
    text-decoration: none;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.row .col-1,
.row .col-2 {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row .col-1 {
    padding-left: 5%;
    margin-top: 50px;
}

.row col-1 h1 {
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;
}

.row col-1 p {
    padding-right: 10px;
    line-height: 1.4;
}

.row col-1 .price {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    margin-top: 10px;
}

.row col-1 h2 {
    font-size: 25px;
    line-height: 1;
}

.row col-1 .buttons {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
}

.col-1 .buttons button,
.col-1 .buttons a {
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background: red;
    border: none;
    color: #fff;
    font-size: 8px;
    margin-top: 1px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.col-1 .buttons button:hover,
.col-1 .buttons a:hover {
    background: #aa0505;
    transform: translateY(-5px);
}

.col-2 {
    background: red;
    padding-right: 8%;
    position: relative;
    overflow: visible;
}

.col-2 .feature-img {
    width: 100%;
    text-align: center;
}

.col-2 .feature-img img {
    width: 30%;
    transition: 0.5s ease;
    transform: translateY(50%);
}

.col-2 .feature-img img:hover {
    transform: translate(-20px, 10px) rotate(0) translateY(50%);

}
.small-img-wrapper{
    display: flex;/*yan yana gelsinler*/
    width: 80%;
    margin:30% auto 0;
    align-items: center;
    justify-content: space-around;
}
    .small-img{
    width: 60px;
    height: 90px;
}


.small-img img{
    width: 120px;
    transform: rotate(-20deg)
}

.small-img:nth-child(1){
    background: #b9c8ff;
}
.small-img:nth-child(2){
    background: violet;
}

.small-img:nth-child(3){
    background: #ff6767;
}
.small-img:nth-child(1):hover img {
    transform: translate(-20px, 10px) rotate(0);
    transition: 0.5s ease;
}

.small-img:nth-child(2):hover img {
    transform: translate(-20px, 10px) rotate(0);
    transition: 0.5s ease;
}

.small-img:nth-child(3):hover img {
    transform: translate(-20px, 10px) rotate(0);
    transition: 0.5s ease;
}